body{
	color: #2B2B2B;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background-color: #FFFFFF;
	text-align: center;
	margin: 0;
    height: 800px;
}

header {
    background-color: #FFFFFF;
	height: 150px;
	padding-top: 25px;
}

nav{
	float: right;
	padding: 10px;
	padding-right: 45px;
	padding-top: 25px;
    background-color: #FFFFFF;
	text-align: right;
}

#progress {
	height: 90px;
	padding-top: 30px;
	float: center;
}

.progresspoint {
	height: 50px;
	width: 50px;
	display: inline-block;
	text-align: center;
}

#filter{
	height: 70px;
	font-size: 10px;
}

#filtertitle{
	height: 20px;
	padding-top: 7px;
}

.filtercategory {
	display: inline-block;
	margin: 5px;
}

.menuItemList {
	margin-right: 30px;
	margin-left: 20px;
	padding: 5px;
}

#menuItem {
}

#menulist {
    padding: 10px;
	float: center;
}
#login {
    padding: 10px;
	float: center;
	display: none;
}
#confirmpurchase {
    padding: 10px;
	float: center;
	display: none;
}
#orderplaced {
    padding: 10px;
	float: center;
	display: none;
}

a {
	text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 34px;
    color: #FFF;
}

#container{
	margin-bottom: 125px;
}

.content {
	height: 500px;
	width: 500px;
	display: inline-block;
	margin: 25px;
	margin-top: 100px;
}

#menu {
    background-color: #E7E7E7;
	width: inherit;
	height: inherit;
    float: left;
	border-radius: 25px;
	color: #2B2B2B;
	font-size: 14px;
}

#cart {
    background-color: #E7E7E7;
	width: inherit;
	height: inherit;
	float: right;
	border-radius: 25px;
}

#checkoutCart {
	width: 500px;
	height: 400px;
}

#checkoutTotal {
	text-size: 12px;
	text-align: right;
}


.price {
	float: right;	
}

.button {
	cursor: pointer;
    background-color: darkturquoise;	
	color: #FFFFFF;
	font-weight: 500;
	font-size: 14px;	
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 25px;
	
}


footer {
    text-align: center;
	background-color: white;
    font-size: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;	
    float: bottom;
	display: none;
}

@media only screen and (max-width: 800px) {
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}