body{
	width:100%;
	color: #2B2B2B;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin: 0;
    height: auto;
}
header {
	width: 100%;
  	background-color: #FFFFFF;
	height: 150px;
	padding-top: 15px;
}
nav{
	width:100%;
	float: right;
	padding: 10px;
	padding-right: 45px;
	padding-top: 25px;
	text-align: right;
}

#progress {
	display: non;
	height: 150px;
	padding-top: 20px;
	float: center;
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.5px;
	background-image: radial-gradient(paleturquoise, #D8D8D8);
	  align-content: center;
}
.progresspoint {
	height: 60px;
	width: 95px;
	display: inline-block;
	align-items: center;
	padding-left: 7px;
	padding-right: 7px;
}

.number {
	padding-top: 6px;
	padding-left: 1px;
	color: #FFFFFF;
	font-weight: 500;
}

.prg {
	background-image: radial-gradient(darkturquoise, #00B3B0);
	height: 40px;
	width: 40px;
	margin-left: 26px;
	border-radius: 25px;
	font-size: 20px;
}

#container{
	width: 100%;
	margin-bottom: 100px;
	display: flex;
  	flex-direction: row;
	flex-wrap: nowrap;
}

#filter{
	height: auto;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: 500;
	display: flex;
  	flex-direction: column;
	background-color: #D8D8D8;
}
#sortBy {
	padding-top: 7px;
}
#filterTitles {
	display: flex;
  	flex-direction: row;
	width: 100%;
}
#filterColumn {
	display: flex;
  	flex-direction: row;
	width: 100%;
}
.filterTitle {
	padding-top: 7px;
	width: 20%;
	height: 100%;
}
.filterCategory {
	margin: 5px;
	margin-right: 8px;
	margin-left: 8px;
	padding: 10px 12px 10px 12px;
	width: 15%;
	height: 100%;
	text-align: left;
	height: 25%;
}

#nameCategory {
	width: 40%;
}

.container > content {
	width: 600px;
}

.content {
	border-bottom: 2px dotted #D8D8D8;
	border-top: 2px dotted #D8D8D8;
	width: 40%;
	height: auto;
	margin: 10px;
	margin-top: 80px;
	border-radius: 25px;
    display: flex;
  	flex-direction: row;
	background-image: radial-gradient(paleturquoise, #D8D8D8);
}

.contentside {
	width: 10%;
}

#menu {
	border-radius: 25px;
	display: flex;
  	flex-direction: column;
	width: 100%;
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;		
}

.price {
	font-weight: 500;
	width: 15%;
}
.name {
	font-weight: 300;
	width: 40%;
}
.alcoholStrength {
	font-weight: 300;
	width: 15%;
}
.menuItemList {
	background-color: #FFFFFF;
	margin: 5px;
	margin-right: 8px;
	margin-left: 8px;
	padding: 10px 12px 10px 12px;
	border-radius: 18px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	text-align: left;
}
.menuItemList:hover { 
 		background-color: paleturquoise;
}

.menuItemDrop:hover { 
 		border: 1px dotted red;
}

#login {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.logincontent {
	padding: 5px;
}

#confirmPurchase {
	padding-top: 200px;
	display: none;
	width: 100%;
	height: 100%;
}
#orderPlaced {
	padding-top: 200px;
	display: none;
	width: 100%;
	height: 100%;
}

#checkout {
	
	display: none;
	width: 100%;
	height: 100%;	
}

#cart {
	border-radius: 25px;
	display: flex;
  	flex-direction: column;
	width: 100%;
	height: 100%;
}
#checkoutCart {
	overflow-y: scroll;
	width: inherit;
	height: 550px;
}
#checkoutTotal {
	font-size: 12px;
	text-align: right;
	font-weight: 500;
	border-top: 1px dotted #2B2B2B;
	border-bottom: 1px dotted #2B2B2B;
	width: 90%;
	height: auto;

}

.button {
	cursor: pointer;
	background-image: radial-gradient(darkturquoise, #00B3B0);
	font-size: 12px;
	color: #FFFFFF;
	width: auto;
	text-align: center;
	font-weight: 500;
	padding: 7px 10px 7px 10px;
	margin: 10px 10px 10px 10px;
  	border: none;
  	border-radius: 6px;
  	position: relative;
	text-transform: uppercase;
}
.button:hover { 
	background-image: linear-gradient(-90deg, paleturquoise);
	color: #FFFFFF;
}

.cartItemsPlusButton{
	cursor: pointer;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	color: #FFFFFF;
	width: auto;
	padding: 3px 8px 3px 8px;
	margin: 0px 10px 0px 10px;	
  	border: none;
  	border-radius: 25px;
  	position: relative;
	background-image: radial-gradient(#5F5F5F, #2B2B2B);
}
.cartItemsMinusButton {
	text: hide;
	cursor: pointer;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	color: #FFFFFF;
	width: auto;
	padding: 3px 8px 3px 8px;
	margin: 0px 10px 0px 10px;	
  	border: none;
  	border-radius: 25px;
  	position: relative;
	background-image: radial-gradient(#5F5F5F, #2B2B2B);
}
.cartItemsRemoveButton {
	cursor: pointer;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	color: #FFFFFF;
	width: auto;
	padding: 3px 8px 3px 8px;
	margin: 0px 10px 0px 10px;	
  	border: none;
  	border-radius: 25px;
  	position: relative;
	background-image: radial-gradient(#5F5F5F, #2B2B2B);
}

.tooltip {
	width: 100%;
	height: 80%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
background-image: -webkit-linear-gradient(left, darkturquoise, paleturquoise);
background-image: -o-linear-gradient(left, darkturquoise, paleturquoise);
background-image: linear-gradient(to right, darkturquoise, paleturquoise);
  color: #2B2B2B;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.dropdwn {
	cursor: pointer;
    background-color: inherit;	
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	color: #FFFFFF;
	width: 70px;
	padding: 16px 8px 12px 14px;
  	border: none;
  	border-radius: 6px;
  	position: relative;
	background-image: radial-gradient(darkturquoise, #00B3B0);
}


footer {
    text-align: center;
	background-color: white;
    font-size: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;	
    float: bottom;
	display: none;
}

@media only screen and (max-width: 1100px) {
	#container{
	margin-bottom: 125px;
	display: flex;
  	flex-direction: column;
	flex-wrap: nowrap;
}
.content {
	width: 100%;
	margin: 0px;
	margin-top: 55px;
}

.contentside {
	display: none;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}}