body{
	color: #2B2B2B;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background-color: aqua;
	text-align: center;
	margin: 0;
    width: 800px;
    height: 800px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #FFFFFF;
	height: 150px;
	padding-top: 25px;
}

nav{
	float: right;
	padding: 10px;
	padding-right: 45px;
	padding-top: 25px;
    background-color: #FFFFFF;
	text-align: right;
}

#div1, #div2 {
  float: left;
  width: inherit;
  height: 135px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

a {
	text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 34px;
    color: #FFF;
}

.indexcontent{
	font-size: 34px;
	width: 100%;
	padding-top: 125px;
}
.content{
	font-size: 34px;
	width: 100%;
	padding-top: 5px;
}

.menu {
	background-color: white;
	height: auto;
    float:left;
	margin-top: 50px;
	margin-left: 100px;
	padding: 10px;
	border-radius: 25px;
	color: #000000;
	
}

.cart {
	background-color: #FFF;
	height: auto;
	float: right;
	margin-top: 50px;
	margin-right: 100px;
	padding: 10px;
	border-radius: 25px;
	color: #000000;
}
.menulist {
	padding: 5px;
	float:right;
}

.item {
	overflow: hidden;
	font-size: 14px;
	padding: 5px;
	text-align: left;
}

button {
  cursor: pointer;
}

footer {
    text-align: center;
    color: #FFF;
    font-size: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    float: bottom;
}

@media only screen and (max-width: 700px) {
    .divz {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .divz {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}